<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
    var sum = 0;
    var dataUrl = "/sales_items.json";
    $.getJSON(dataUrl, function(data){
        $.each(data, function(i){
            sum += parseFloat(data[i].price);
        });
        $('#average').append((sum/data.length).toFixed(2));
        $('#results').append(data.length);
    });
</script>

<h1 id="title">Dashboard</h1>
<div id="box">
<h2>Welcome to the Inventory System</h2>
  <p>You have <span id="results"></span> items defined in the system</p>
  <p>The <span id="fade">average</span> price of a sales item is $<span id="average"></span> </p>
</div>
<p id="definition">The average is the sum divided by the count</p>
