// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tg2
{
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 10px 10px 5px #999999;
  width: 800px;

}
.tg2 td
{
  border-style: solid;
  border-width: 1px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 1px 1px;
  width: 200px;
}
.tg2 th
{
  border-style: solid;
  border-width: 1px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 1px 1px;
}


/*
.tg2
{
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 10px 10px 5px #999999;

}
.tg2 td
{
  border-style: solid;
  border-width: 1px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 1px 1px;
  width: 200px;
  word-break: normal;
}
.tg2 th
{
  border-style: solid;
  border-width: 1px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding: 1px 1px;
  word-break: normal;
}

*/