// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#box {
  width: 650px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

h1#title {
  text-decoration: underline;
  text-decoration-color: darkgreen;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

p#definition {
  text-decoration-color: green;
  display: none;
  font-size: 125%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span#fade {
  text-decoration: underline;
  text-decoration-color: blue;
  font-weight: bold;
}


